In [21]:
import pandas as pd
import os

# STEP 2: Read and view the first five entries of a CSV file
csv_path = 'datasets/Social_Network_Ads_CSV.csv'
if os.path.exists(csv_path):
    csv_data = pd.read_csv(csv_path)
    print(csv_data.head())
else:
    print(f"File not found: {csv_path}")

# STEP 3: Read and view the first five entries of a “;” delimited file
delimiter_data = pd.read_csv('datasets/Social_Network_Ads_Delimiter.csv', delimiter=';')
print(delimiter_data.head())

# STEP 4: Read and view the first five entries of a CSV file without header
no_header = pd.read_csv('datasets/Social_Network_Ads_CSV.csv', header=None)
print(no_header.head())

# STEP 5: Read and view the first five entries of a CSV file with custom columns
custom_column = pd.read_csv(
    'datasets/Social_Network_Ads_CSV.csv',
    names=['SID', 'SGender', 'SAge', 'SSalary', 'SPurchased']
)
print(custom_column.head())

# STEP 6: Read and view the first five entries of an Excel file
excel_df = pd.read_excel('datasets/Social_Network_Ads_Excel.xlsx', sheet_name='Sheet1')
print(excel_df.head())

# STEP 7: Read and view the first five entries of a CSV file from a Web URL
url_df = pd.read_csv(url)
print(url_df.head())

# STEP 8: Read and view the first five entries of a JSON file
json_df = pd.read_json('datasets/Social_Network_Ads_JSON.json')
print(json_df.head())

# STEP 9: Read and view the first five entries of an HTML file
html_df = pd.read_html('datasets/Social_Network_Ads_HTML.html')[0]
print(html_df.head())

# STEP 10 & 13: Read and view the first five entries of a table in an SQLite database
df = pd.read_sql_query("SELECT * FROM ads_table", conn)
print(df.head())

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
          0       1    2                3          4
0   User ID  Gender  Age  EstimatedSalary  Purchased
1  15624510    Male   19            19000          0
2  15810944    Male   35            20000          0
3  15668575  Female   26            43000          0
4  15603246  Female   27            57000          0
        SID SGender SAge          SSalary SPurchased
0   User ID  Gender  Age  EstimatedSalary  Purchased
1  15624510    Male   19            19000          0
2  15810944    Male   35            20000          0
3  15668575  Female   26            43000          0
4  15603246  Female   27            57000          0
    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
  Month   "1958"   "1959"   "1960"
0   JAN      340      360      417
1   FEB      318      342      391
2   MAR      362      406      419
3   APR      348      396      461
4   MAY      363      420      472
    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
     UserID  Gender  Age  EstimatedSalary  Purchased
0  15566689  Female   35            57000          0
1  15569641  Female   58            95000          1
2  15570769  Female   26            80000          0
3  15570932    Male   34           115000          0
4  15571059  Female   33            41000          0